.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32px);
    gap: 8px;
}

.item-icon {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.item-icon:hover {
    border-color: #aaa;
    cursor: pointer;
}

.item-amount {
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 2px;
    pointer-events: none;
}
